<div ng-controller="IndexController">

  <super-navbar>
    <super-navbar-title>
      Register
    </super-navbar-title>
  </super-navbar>


<div>
	{{name1}}
</div>

<form>
 <div class="list list-inset">
  <label class="item item-input">
    <input type="text" placeholder="First Name">
  </label>
  <label class="item item-input">
    <input type="text" placeholder="Last Name">
  </label>
  <label class="item item-input">
    <input type="number" placeholder="Phone">
  </label>
  <label class="item item-input">
    <input type="email" placeholder="Email">
  </label>
  <label class="item item-input">
  	<input type="text" placeholder="Home address (default delivery place)">
  </label>
  <label class="item item-input">
    <input type="number" placeholder="Pincode">
  </label>  
</div>
<input class="button button-block button-positive" type="submit" value="Create account">
</form>
</div>